[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
django-environ = "*"
auto-gitignore = "*"
psycopg2 = "*"
django-livereload-server = "*"

[dev-packages]

[requires]
python_version = "3.9"
