@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@500;700&family=Raleway:wght@800&display=swap");
.bg-dark-purple {
  background-color: #631A79;
  color: white;
}

.btn-dark-purple {
  background-color: #631A79;
  color: white;
  transition: 400ms;
}
.btn-dark-purple:hover, .btn-dark-purple:focus {
  color: white;
  background-color: #521564;
}

.text-dark-purple, .color-dark-purple {
  color: #631A79;
}

.bg-purple {
  background-color: #8429A1;
  color: white;
}

.btn-purple {
  background-color: #8429A1;
  color: white;
  transition: 400ms;
}
.btn-purple:hover, .btn-purple:focus {
  color: white;
  background-color: #73248d;
}

.text-purple, .color-purple {
  color: #8429A1;
}

.bg-lavender-gray {
  background-color: #BDC0DB;
  color: #631A79;
}

.btn-lavender-gray {
  background-color: #BDC0DB;
  color: #631A79;
  transition: 400ms;
}
.btn-lavender-gray:hover, .btn-lavender-gray:focus {
  color: #631A79;
  background-color: #adb0d2;
}

.text-lavender-gray, .color-lavender-gray {
  color: #BDC0DB;
}

.bg-light-gray {
  background-color: #E5E9F5;
  color: #631A79;
}

.btn-light-gray {
  background-color: #E5E9F5;
  color: #631A79;
  transition: 400ms;
}
.btn-light-gray:hover, .btn-light-gray:focus {
  color: #631A79;
  background-color: #d3d9ee;
}

.text-light-gray, .color-light-gray {
  color: #E5E9F5;
}

.bg-light-pink {
  background-color: #FFBEFF;
  color: #631A79;
}

.btn-light-pink {
  background-color: #FFBEFF;
  color: #631A79;
  transition: 400ms;
}
.btn-light-pink:hover, .btn-light-pink:focus {
  color: #631A79;
  background-color: #ffa5ff;
}

.text-light-pink, .color-light-pink {
  color: #FFBEFF;
}

.bg-white {
  background-color: white;
  color: #631A79;
}

.btn-white {
  background-color: white;
  color: #631A79;
  transition: 400ms;
}
.btn-white:hover, .btn-white:focus {
  color: #631A79;
  background-color: #f2f2f2;
}

.text-white, .color-white {
  color: white;
}

.bg-black {
  background-color: black;
  color: white;
}

.btn-black {
  background-color: black;
  color: white;
  transition: 400ms;
}
.btn-black:hover, .btn-black:focus {
  color: white;
  background-color: black;
}

.text-black, .color-black {
  color: black;
}

.bg-lighter-pink {
  background-color: #FEF0FE;
  color: #631A79;
}

.btn-lighter-pink {
  background-color: #FEF0FE;
  color: #631A79;
  transition: 400ms;
}
.btn-lighter-pink:hover, .btn-lighter-pink:focus {
  color: #631A79;
  background-color: #fcd8fc;
}

.text-lighter-pink, .color-lighter-pink {
  color: #FEF0FE;
}

.bg-dark-gray {
  background-color: #33354D;
  color: white;
}

.btn-dark-gray {
  background-color: #33354D;
  color: white;
  transition: 400ms;
}
.btn-dark-gray:hover, .btn-dark-gray:focus {
  color: white;
  background-color: #292a3e;
}

.text-dark-gray, .color-dark-gray {
  color: #33354D;
}

.bg-transparent {
  background-color: transparent;
  color: white;
}

.btn-transparent {
  background-color: transparent;
  color: white;
  transition: 400ms;
}
.btn-transparent:hover, .btn-transparent:focus {
  color: white;
  background-color: rgba(0, 0, 0, 0);
}

.text-transparent, .color-transparent {
  color: transparent;
}

body,
html {
  font-family: "Noto Sans Display", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #33354D;
}
body p, body h1, body h2, body h3,
html p,
html h1,
html h2,
html h3 {
  margin-bottom: 0.5rem;
}
body .title,
html .title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 36px;
}
body .title-2,
html .title-2 {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 24px;
}
body .heading,
html .heading {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  text-transform: uppercase;
}
body .heading-2,
html .heading-2 {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 13px;
  text-transform: uppercase;
}
body .small,
html .small {
  font-size: 10px;
}
body a.nav-item,
html a.nav-item {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 13px;
  text-transform: uppercase;
  color: #631A79;
}

.rounded-card {
  width: 100%;
  background-color: #FEF0FE;
  padding: 1rem;
  border-radius: 10px;
  margin: 1rem 0;
}
.rounded-card hr {
  border-color: #FFBEFF;
  flex-grow: 1;
  margin: 0 1rem;
}

input {
  outline: none;
  border: none;
  border-bottom: 3px #FFBEFF solid;
  width: 100%;
}
input[type=date] {
  width: max-content;
  display: -webkit-inline-flex;
}
input[type=date]::-webkit-datetime-edit {
  padding-right: 3px;
  max-width: fit-content;
}
input[type=date]::-webkit-calendar-picker-indicator {
  margin: 0;
}

.btn {
  width: 100%;
  border: none;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 13px;
  text-transform: uppercase;
  padding: 1rem;
  border-radius: 10px;
}
.btn:focus {
  outline: none;
}
.btn-compact {
  width: 100%;
  border: none;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 13px;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  border-radius: 5px;
}
.btn-compact:focus {
  outline: none;
}

body, html {
  box-sizing: border-box;
}
body .vertical-align-top, html .vertical-align-top {
  vertical-align: top;
}
body .vertical-align-middle, html .vertical-align-middle {
  vertical-align: middle;
}

.container {
  max-width: 720px;
}

.navbar-toggler {
  background: none;
  border: none;
  margin-right: -10.5px;
}
.navbar-toggler:focus {
  outline: none;
}

/*# sourceMappingURL=index.css.map */
