@use "sass:map";

$colors: (
    "dark-purple": #631A79,
    "purple": #8429A1,
    "lavender-gray": #BDC0DB,
    "light-gray": #E5E9F5,
    "light-pink": #FFBEFF,
    "white": white,
    "black": black,
    "lighter-pink": #FEF0FE,
    "dark-gray": #33354D,
    "transparent": transparent,
);

// Get single color from colors map
@function color($color){
    @return map.get($colors, $color);
}

@function checkBgColor($bgColor){
    @if lightness($bgColor) > 60 {
        @return color('dark-purple');
    } @else {
        @return color('white');
    }
}

@each $colorName, $color in $colors {
    .bg-#{$colorName} {
        background-color: $color;
        color: checkBgColor($color);
    }
    .btn-#{$colorName} {
        background-color: $color;
        color: checkBgColor($color);
        transition: 400ms;
        &:hover, &:focus {
            color: checkBgColor($color);
            background-color: darken($color, 5%);
        }
    }
    .text-#{$colorName}, .color-#{$colorName} {
        color: $color;
    }
}