@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Raleway:wght@800&display=swap");

@mixin headingTitle($font-size) {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: $font-size;
}

body,
html {
    font-family: "Noto Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;

    .title {
        @include headingTitle(36px);
        &-2 {
            @include headingTitle(24px);
        }
    }

    .heading {
        @include headingTitle(18px);
        text-transform: uppercase;
        &-2 {
            @include headingTitle(13px);
            text-transform: uppercase;
        }
    }

    .small {
        font-size: 10px;
    }
}
