@use 'config';

input, select {
    outline: none;
    border: none;
    border-bottom: 3px config.color('light-pink') solid;
    // width: 100%;
    transition: 300ms;
    
    &:focus {
        border-bottom: 3px config.color('lavender-gray') solid;
    }

    &[type="date"]{
        width: max-content;
        display: -webkit-inline-flex;
        &::-webkit-datetime-edit {
            padding-right: 3px;
            max-width: fit-content;
        }
        &::-webkit-calendar-picker-indicator {
            // display: none;
            margin: 0;
        }
    }
}