@use 'config';
@use 'fonts';
@use 'cards';
@use 'inputs';
@use 'btn';

body, html {
    box-sizing: border-box;

    a:hover {
        text-decoration: none;
    }

    .vertical-align {
        &-top {
            vertical-align: top;
        }
        &-middle {
            vertical-align: middle;
        }
    }

    .navbar {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background-color: config.color('white');
        z-index: 1;

        & + .navbarPadding {
            width: 100%;
            height: 40.5px;
        }
    }

    footer {
        border-top: 1px solid config.color('light-gray');
        background-color: white;
        color: config.color('purple');
        font-size: 12px;
        text-align: center;
    }

}

.container {
    max-width: 720px;
}

.navbar-toggler {
    background: none;
    border: none;
    margin-right: -10.5px;
    &:focus {
        outline: none;
    }
}

#addOverlay {
    position: fixed;
    background-color: rgba($color: config.color('white'), $alpha: 0.85);
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    transition: 250ms;
    padding-bottom: 60px;
    padding-right: 15px;
    display: flex;
    opacity: 0;
    pointer-events: none;
    flex-direction: column-reverse;
    align-items: flex-end;
    transition: 300ms;

    &.overlayActive {
        display: flex;
        opacity: 1;
        pointer-events: initial;
    }

    button {
        max-width: max-content;
        margin-bottom: 10px;
        display: inline-flex;
        align-items: center;
    }
}