@use 'config';
@use 'fonts';

body, html {
    box-sizing: border-box;

    .vertical-align {
        &-top {
            vertical-align: top;
        }
        &-middle {
            vertical-align: middle;
        }
    }
}

.container {
    max-width: 720px;
}

.navbar-toggler {
    background: none;
    border: none;
    &:focus {
        outline: none;
    }
}