@use 'config';
@use 'fonts';

body, html {
    box-sizing: border-box;
}

.container {
    max-width: 720px;
}

.navbar-toggler {
    background: none;
    border: none;
    &:focus {
        outline: none;
    }
}