{% extends 'main/base.html' %}
{% load duration %}

{% block body %}

<div class="container">
  <div class="rounded-card">
    <h1 class="title-2 text-purple mb-1">Good morning <span class="iconify ml-3" data-icon="fa-solid:sun"></span></h1>
    <p>Remember to make an entry today.</p>
  </div>

  {% include 'main/date_selector.html' with variant=1 %}

  {% comment %} MOMENT SECTION {% endcomment %}
  <section class="mb-5">
    <div class="d-flex align-items-center justify-content-between mb-3">
      <h1 class="title-2">Moments</h1>
      <div class="heading-2">{{ moments_number }} moment{{ moments_number|pluralize }}</div>
    </div>
    <p class="mb-4">Emotions from recorded moments in selected daterange.</p>
    <div class="rounded-card">
      <ul class="p-0 m-0">

        {% for emotion in emotions %}
        <li class="d-flex py-2 align-items-center">
          <p class="m-0">{{ emotion.emotion }}</p>
          <hr>
          <p class="m-0 font-weight-bold text-dark-purple">{{ emotion.count }}</p>
        </li>
        {% empty %}
        <li class="d-flex py-2 align-items-center">No emotions</li>
        {% endfor %}
      </ul>
    </div>
    <a href="{% url 'main:all_moments' %}"><button class="btn btn-purple">View Moments <span class="iconify" data-icon="fluent:arrow-right-16-filled" data-height="16"></span></button></a>
  </section>

  {% comment %} ENTRY SECTION {% endcomment %}
  <section class="mb-5">
    <div class="d-flex align-items-center justify-content-between mb-3">
      <h1 class="title-2">Entries</h1>
      {% comment %} Add if else statement here for plural {% endcomment %}
      <div class="heading-2">{{ entries_amount }} Entr{{ entries_amount|pluralize:'y,ies' }}</div>
    </div>
    <p class="mb-4">Calculated averages of all daily entries in the selected date range.</p>

    {% comment %} DYNAMIC AREA - Interpolate data here {% endcomment %}

    {% if check_entry %}    
    {% comment %} Average Rating {% endcomment %}
    <div class="text-dark-purple rounded-card">
      <h2 class="heading-2 mb-3">Average Rating</h2>
      <div class="d-flex align-items-center justify-content-between">
        <p class="mb-0">{{ average_rating.label|capfirst }}</p>
        {% include 'main/rated.html' with rating=average_rating.value %}
      </div>
    </div>

    {% comment %} Average Sleep {% endcomment %}
    <div class="text-dark-purple rounded-card d-flex justify-content-between align-items-center">
      <h2 class="heading-2"><span class="iconify mr-2" data-icon="akar-icons:moon" data-height="14"></span> Sleep Duration</h2>
      <p class="text-right">about {{ sleep_duration|duration }}</p>
    </div>

    {% comment %} Average Water Intake {% endcomment %}
    <div class="text-dark-purple rounded-card d-flex justify-content-between align-items-center">
      <h2 class="heading-2"><span class="iconify mr-2" data-icon="gg:glass-alt" data-height="14"></span> Water</h2>
      <p class="text-right">about {{ average_water }} glass{{ average_water|pluralize:"es" }}</p>
    </div>

    {% comment %} Average Food Intake {% endcomment %}
    <div class="text-dark-purple rounded-card d-flex justify-content-between align-items-center">
      <h2 class="heading-2"><span class="iconify mr-2" data-icon="fluent:food-24-filled" data-height="14"></span> Meals</h2>
      <p class="text-right">about {{ average_meals }} meal{{ average_water|pluralize }}</p>
    </div>

    {% comment %} Average Tidiness Rating {% endcomment %}
    <div class="text-dark-purple rounded-card">
      <h2 class="heading-2 mb-3">Tidiness Rating</h2>
      <div class="d-flex align-items-center justify-content-between">
        <p class="mb-0">{{ average_tidiness.label|capfirst }}</p>
        {% include 'main/rated.html' with rating=average_tidiness.value %}
      </div>
    </div>
    <a href="#"><button class="btn btn-purple">View Entries <span class="iconify" data-icon="fluent:arrow-right-16-filled" data-height="16"></span></button></a>
    {% else %}
    <div class="rounded-card">No entries</div>
    {% endif %}
  </section>


</div>

{% endblock body %}