{% load static %}
<nav class="navbar container">
  {% if request.path != '/' %}
  <a href="">
    <button class="btn"><span class="iconify color-dark-purple" data-icon="akar-icons:arrow-left" data-width="18"></span></button>
  </a>
  {% endif %}

  <a class="navbar-brand p-0 m-0" href="{% url 'main:index' %}">
    <img src="{% static 'images/logo.svg' %}" alt="logo">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="iconify color-dark-purple" data-icon="dashicons:menu-alt" data-height="18"></span>
  </button>
  <div class="text-right px-3 collapse navbar-collapse" id="navbarNavDropdown">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="#">Dashboard <span class="iconify color-dark-purple ml-3" data-icon="akar-icons:home" data-width="15"></span>
      <a class="nav-item nav-link" href="#">Entries <span class="iconify color-dark-purple ml-3" data-icon="ion:journal-outline" data-width="15"></span></a>
      <a class="nav-item nav-link" href="#">Moments <span class="iconify color-dark-purple ml-3" data-icon="carbon:face-activated" data-width="15"></span></a>
    </div>
  </div>
</nav>
<div class="navbarPadding"></div>